<h1>Geschichte anpassen</h1>
<div id="creation-date" data-creation-date="<%= @story.created_at %>">
    Hochgeladen <%= @story.created_at.strftime('um %H:%M am  %d.%m.%Y') %>
</div>
<div>
    <form action="/stories/<%= @story.id %>/edit" method="post">
        <div class="form-group">
            <label>Titel</label>
            <input class="form-control" name="title" value="<%= @story.title %>" placeholder="Titel der Geschichte">
        </div>
        <div class="form-group">
            <label>Erzähler</label>
            <input class="form-control" name="narrator" value="<%= @story.narrator %>" placeholder="Name Erzähler">
        </div>
        <div class="form-group">
            <label>Ort</label>
            <input class="form-control" name="place" value="<%= @story.place %>" placeholder="Ort des Geschehens">
        </div>
        <div class="form-group">
            <label>Textform</label>
            <textarea class="form-control" name="text" rows="10"><%= @story.text %></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" value="Speichern" type="submit"></input>
        </div>
    </form>
</div>
<%= audio_tag  %>
