<h1 id="story-title"><%= @story.title %>
<% if @story.zlb_id.present? %>
  <span>
    <%= link_to "ZLB-Geschichte", @story.zlb_link %>
  </span>
<% end %>
</h1>
<%= link_to "Bearbeiten", { controller: 'stories', action: 'edit', id: @story.id },
      id: 'story-edit', class: 'btn btn-default' %>
<p>vom <%= @story.created_at.strftime("%d.%m.%Y um %H:%M") %></p>

<div>Erzähler: <%= @story.narrator %></div>
<div>Ort: <%= @story.place %></div>
<div><%= @story.text.html_safe %></div>

<% if @story.has_audio? %>
<div id="story-audio">
<%= audio_tag AudioHelper.download_path_mp3(@story.id),
  controls: true,  preload: true %>
</div>
<div>
  <%= link_to "Download .3gp", AudioHelper.download_path_3gp(@story.id) %>
  <%= link_to "Download .mp3", AudioHelper.download_path_mp3(@story.id) %>
</div>
<% end %>
