<h1><%= @story.title %></h1>

<div>Erzähler: <%= @story.narrator %></div>
<div>Ort: <%= @story.place %></div>
<div><%= @story.text %></div>

<div>
<% if browser.firefox? %>
  <i>Leider unterstützt diese Anwendung das Abspielen in Firefox nicht.</i>
<% else %>
  <%= audio_tag AudioHelper.download_path(@story.id),
    controls: true,  preload: true %>
<% end %>
</div>
<div>
  <%= link_to "Download", AudioHelper.download_path(@story.id) %>
</div>
