<!DOCTYPE html>
<html>
<head>
  <title>StoriesBackend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav-container" class="container">
  <%= render "navigation" %>
  <div class="container">
    <%= yield %>
  </div>
</div>
<%= render "footer" %>

</body>
</html>
